In [119]:
import pandas as pd

## Combine CSVs - cases

In [120]:
country = 'Germany'
file_name = './Data/Countries/' + country + '.csv'
df = pd.read_csv(file_name)
df = df.drop(df.columns[[0,3,4,5]], axis=1)
df = df.set_index('Dates')
df = df.rename(columns={'Cases': 'Germany'})

In [121]:
country = 'Iran'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df[country] = df_2.values

In [122]:
country = 'Spain'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df[country] = df_2.values

In [123]:
country = 'Italy'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df[country] = df_2.values

In [124]:
country = 'UK'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df[country] = df_2.values

In [125]:
country = 'USA'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df[country] = df_2.values

In [126]:
country = 'France'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df[country] = df_2.values

In [127]:
country = 'S. Korea'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df['S. Korea'] = df_2.values

In [128]:
country = 'Norway'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df[country] = df_2.values

In [129]:
country = 'Canada'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df[country] = df_2.values

In [130]:
country = 'Australia'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,3,4,5]], axis=1)
df[country] = df_2.values

In [131]:
df.to_csv('./Data/Stats/Cases.csv')
df

,Germany,Iran,Spain,Italy,UK,USA,France,S. Korea,Norway,Canada,Australia
Dates,,,,,,,,,,,
Feb 15,16,0,2,3,9,15,12,28,0,8,15
Feb 16,16,0,2,3,9,15,12,29,0,8,15
Feb 17,16,0,2,3,9,15,12,30,0,8,15
Feb 18,16,0,2,3,9,15,12,31,0,8,15
Feb 19,16,2,2,3,9,15,12,58,0,8,15
Feb 20,16,5,2,4,9,15,12,111,0,8,17
Feb 21,16,18,2,21,9,35,12,209,0,9,19
Feb 22,16,29,2,79,9,35,12,436,0,9,21
Feb 23,16,43,2,157,13,35,12,602,0,10,22
Feb 24,16,61,3,229,13,53,12,833,0,11,22
Feb 25,18,95,9,323,13,57,14,977,0,11,22
Feb 26,26,139,13,470,13,60,18,1261,1,12,23
Feb 27,48,245,25,655,16,60,38,1766,4,14,23
Feb 28,74,388,33,889,20,63,57,2337,6,15,25
Feb 29,79,593,58,1128,23,68,100,3150,15,20,25
Mar 01,130,978,84,1701,36,75,130,3736,19,24,29
Mar 02,165,1501,120,2036,39,100,191,4335,25,27,33
Mar 03,203,2336,165,2502,51,124,212,5186,33,30,39
Mar 04,262,2922,228,3089,87,158,285,5621,59,34,53
Mar 05,545,3513,282,3858,116,221,423,6284,94,37,60
Mar 06,670,4747,401,4636,164,319,653,6593,127,54,63
Mar 07,800,5823,525,5883,209,435,949,7041,156,60,74
Mar 08,1040,6566,674,7375,278,541,1209,7313,176,66,83
Mar 09,1224,7161,1231,9172,321,704,1412,7478,227,77,93
Mar 10,1565,8042,1695,10149,383,994,1784,7513,400,95,116
Mar 11,1966,9000,2277,12462,460,1301,2281,7755,629,110,128
Mar 12,2745,10075,3146,15113,590,1630,2876,7869,800,142,156
Mar 13,3675,11364,5232,17660,798,2183,3661,7979,996,198,199
Mar 14,4599,12729,6391,21157,1140,2770,4499,8086,1109,252,248
Mar 15,5813,13938,7988,24747,1391,3613,5423,8162,1256,341,300
Mar 16,7272,14991,9942,27980,1543,4596,6633,8236,1348,441,401
Mar 17,9367,16169,11826,31506,1950,6344,7730,8320,1471,598,455
Mar 18,12327,17361,14769,35713,2626,9197,9134,8413,1591,727,596
Mar 19,15320,18407,18077,41035,3269,13779,10995,8565,1790,873,756
Mar 20,19848,19644,21571,47021,3983,19367,12612,8652,1959,1087,928
Mar 21,22364,20610,25496,53578,5018,24192,14459,8799,2164,1328,1072
Mar 22,24873,21638,28768,59138,5683,33592,16018,8897,2385,1470,1609
Mar 23,29056,23049,35136,63927,6650,43781,19856,8961,2625,2091,1887
Mar 24,32991,24811,42058,69176,8077,54856,22304,9037,2866,2792,2317

## Combine csvs - deaths

In [132]:
country = 'Germany'
file_name = './Data/Countries/' + country + '.csv'
df = pd.read_csv(file_name)
df = df.drop(df.columns[[0,2,4,5]], axis=1)
df = df.set_index('Dates')
df = df.rename(columns={'Deaths': 'Germany'})

In [133]:
country = 'Iran'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [134]:
country = 'Spain'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [135]:
country = 'Italy'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [136]:
country = 'UK'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [137]:
country = 'USA'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [138]:
country = 'France'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [139]:
country = 'S. Korea'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df['S. Korea'] = df_2.values

In [140]:
country = 'Australia'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [141]:
country = 'Norway'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [142]:
country = 'Canada'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [143]:
country = 'Australia'
file_name = './Data/Countries/' + country + '.csv'
df_2 = pd.read_csv(file_name)
df_2 = df_2.drop(df_2.columns[[0,1,2,4,5]], axis=1)
df[country] = df_2.values

In [144]:
df.to_csv('./Data/Stats/Deaths.csv')