In [ ]:
import plotly
import plotly.express as px
import plotly.graph_objects as go
import numpy as np
import pandas as pd
import numpy as np
from os import listdir
from os.path import isfile, join
from datetime import date
import matplotlib.pyplot as plt

# Line graphs

In [ ]:
df = pd.read_csv('./Data/timeseries.csv')
mcases = df['Cases'].max()
mdeaths = df['Deaths'].max()
mnewcases = df['New Cases'].max()

countries = ['USA', 'China', 'S', 'Norway', 'Germany', 'Italy', 'Australia', 'Turkey', 
             'Spain', 'France', 'UK', 'Canada', 'Iran']

In [ ]:
for col in ['Cases', 'Deaths','Active Cases','New Cases Last Week','New Deaths Last Week', 
            'CGR Last Week', 'DGR Last Week']:
    
    fig = px.line(df[df['Country'].isin(countries)], x="Day0", y=col, color="Country",range_x=[20,'Day0'], range_y=[0,col])
    fig.update_layout(title=col+' by Country over Time')
    fig.show()

In [ ]:
x=np.arange(10,mcases*10,10000)
y=np.arange(10,mdeaths*10,10000)
lethality = [0.005,0.01,0.02,0.04,0.06,0.1]
greyscale = np.flip(np.cumsum([250/len(lethality) for x in lethality]))
lgs = list(zip(lethality,greyscale))
countries = ['China','USA','Germany','Italy','UK','Turkey','Spain','France']

In [ ]:
fig = px.line(df[df['Country'].isin(countries)], x="Day0", y="CFR_Total",
              color="Country", hover_name="Country",range_x=[50,85],range_y=[0,0.12])
fig.update_layout(title='Total Case Fatality Rate (CFR) by Country over Time')
fig.show()

In [ ]:
fig = px.line(df[df['Country'].isin(countries)], x="Day0", y="CFR_Current",
              color="Country", hover_name="Country",range_x=[50,85],range_y=[0,1])
fig.update_layout(title='Current Case Fatality Rate (CFR) by Country over Time')
fig.show()

In [ ]:
df_cases = pd.read_csv('./Data/Stats/Cases.csv', index_col=0)

In [ ]:
def index_X_cases(df=df_cases,X_cases=200):
    """Produces a dataframe that sets the index to 0 at X cases and removes all preceeding observations"""
    
    # cycle through columns and reset index at X_cases
    country_dfs = []
    for c in df.columns:
        dfc = df[[c]]
        dfc = dfc[dfc[c]>=X_cases]
        dfc.reset_index(drop=True,inplace=True)
        country_dfs.append(dfc)
    return pd.concat(country_dfs,axis=1)

# Area graphs

In [ ]:
df = pd.read_csv('./Data/timeseries.csv')
mcases = df['Cases'].max()
mdeaths = df['Deaths'].max()
mnewcases = df['New Cases'].max()

In [ ]:
for col in ['Cases', 'Deaths','Active Cases','New Cases Last Week','New Deaths Last Week']:
    
    fig = px.area(df, x="Day0", y=col, color="Country", range_x=[20,'Day0'], range_y=[0,col])
    fig.update_layout(title=col+' by Country over Time')
    plotly.offline.plot(fig, filename = './Saved graphs/Static graphs/AreaGraphsStatic.html', auto_open=False)
    fig.show()

# Scatter plots

In [ ]:
df = pd.read_csv('./Data/world_info.csv')

df.columns = ['Unnamed','Country', 'Total Cases', 'New Cases', 'Total Deaths', 'New Deaths', 'Total Recovered', 
           'Active Cases', 'Critical cases', 'Cases per 1M', 'Deaths per 1M', 'Total Tests', 'Test per 1M']
df = df.set_index('Country')
df = df.drop(df.columns[[0]], axis=1)

df.drop(df.tail(1).index,inplace=True)        #removes total row
df.drop(df.head(1).index,inplace=True)        #removes total row

In [ ]:
#Plot cases vs deaths on a scatter plot with log scale
fig = px.scatter(df, x="Total Cases", y="Total Deaths", color=df.index, 
                 hover_name=df.index, text=df.index, trendline='ols', log_x=True, log_y=True)
fig.update_layout(title='Deaths and cases of each country')
fig.show()
plotly.offline.plot(fig, filename = './Saved graphs/Static graphs/CasesDeathsScatterLogStatic.html', auto_open=False)

In [ ]:
#Plot cases vs deaths on a scatter plot
fig = px.scatter(df, x="Total Cases", y="Total Deaths", color=df.index, 
                 hover_name=df.index, text=df.index, trendline='ols')
fig.update_layout(title='Deaths and cases of each country')
fig.show()

# Bar graphs

In [ ]:
#bar chart of total cases by country
df = df.sort_values(by='Total Cases', ascending=0)

fig = px.bar(df, x=df.index, y='Total Cases')
fig.show()

In [ ]:
#bar chart of deaths by country
df = df.sort_values(by='Total Deaths', ascending=0)
objects = df.index[0:20]
y_pos = np.arange(len(objects))
x = df.iloc[0:20,2]

plt.bar(y_pos, x, align='center', alpha=0.7)
plt.xticks(y_pos, objects)
plt.ylabel('Total Deaths')
plt.title('Total deaths per country')

fig = plt.gcf()
fig.set_size_inches(18.5, 9)
plt.show()

# Analysis graphs

In [ ]:
df = pd.read_csv('./Data/timeseries.csv')
mcases = df['Cases'].max()
mdeaths = df['Deaths'].max()
mnewcases = df['New Cases'].max()

In [ ]:
fig = px.line(df, x="Cases", y="New Cases Last Week",
              color="Country", hover_name="Country",
                 range_x=[500,mcases], range_y=[400,mnewcases],log_x=True,log_y=True,)
fig.update_layout(title='Evolution of New Cases Last Week and Cases by Country over Time')
plotly.offline.plot(fig, filename = './Saved graphs/Static graphs/CasesNewCasesLogStatic.html', auto_open=False)
fig.show()

In [ ]:
fig = px.line(df, x="Cases", y="New Deaths Last Week",
              color="Country", hover_name="Country",
                 range_x=[500,mcases], range_y=[4,mdeaths],log_x=True,log_y=True,)
fig.update_layout(title='Evolution of New Deaths Last Week and Cases by Country over Time')
plotly.offline.plot(fig, filename = './Saved graphs/Static graphs/CasesNewCasesLogStatic.html', auto_open=False)
fig.show()

In [ ]:
x=np.arange(10,mcases*10,10000)
y=np.arange(10,mdeaths*10,10000)
lethality = [0.005,0.01,0.02,0.04,0.06,0.1]
greyscale = np.flip(np.cumsum([250/len(lethality) for x in lethality]))
lgs = list(zip(lethality,greyscale))
countries = ['China','USA','Germany','Italy','UK','Turkey','Spain','France']


fig = go.Figure()

for l,gs in lgs:
    fig.add_trace(go.Scatter(x=x, y=x*l, mode='lines',
        name=str(round(l*100,1))+'%',text=str(round(l*100,0))+'%',
        marker_color='rgb({},{},{})'.format(gs,gs,gs)
                            )
                 )


for c in countries:
    fig.add_trace(go.Scatter(x=df[df['Country']==c]['Cases'],
                             y=df[df['Country']==c]['Deaths'],
                             mode='lines+markers',text=c,name=c))

fig.update_layout(title="Deaths over Cases incl. Case Fatality Rate (CFR) Iso Lines",
                  xaxis_title="Cases",
                  yaxis_title="Deaths",
                  xaxis_type="log", yaxis_type="log",)
fig.update_xaxes(range=[1, 6])
fig.update_yaxes(range=[0.4, 5])  
plotly.offline.plot(fig, filename = './Saved graphs/Static graphs/CFRLines.html', auto_open=False)


fig.show()

In [ ]:
fig = px.scatter(df[df['Country'].isin(countries)], x="New Cases", y="New Deaths",
                 color="Country", hover_name="Country",trendline="ols",
                 #log_x=True,log_y=True,#range_x=[200,20000],range_y=[20,2000]
                )
fig.update_layout(title='New Deaths over New Cases by Country')
fig.show()

In [ ]:
def index_X_cases(df=df,X_cases=200):
    """Produces a dataframe that sets the index to 0 at X cases and removes all preceeding observations"""
    
    # cycle through columns and reset index at X_cases
    country_dfs = []
    for c in df['Country'].unique():
        dfc = df[df['Country']==c]
        dfc = dfc[dfc['Cases']>=X_cases]
        #dfc.sort_values('Cases',inplace=True)
        dfc.reset_index(drop=True,inplace=True)
        dfc.reset_index(inplace=True)
        dfc = dfc.rename(columns={'index':'Day{}'.format(X_cases)})
        country_dfs.append(dfc)
    return pd.concat(country_dfs,axis=0)
    
# df index_X_cases 
df200 = index_X_cases(df,200)
#df200

In [ ]:
df = df200

fig = go.Figure()

for c in countries:
    fig.add_trace(go.Scatter(x=df[df['Country']==c]['Day200'],
                             y=df[df['Country']==c]['Cases'],
                             mode='lines+markers',text=c,name=c))

fig.update_layout(title="Cases over days reset at 200 cases by country",
                  xaxis_title="Days since 200 cases",
                  yaxis_title="Cases", 
                  yaxis_type="log",)

fig.show()

fig = go.Figure()

for l,gs in lgs:
    fig.add_trace(go.Scatter(x=x, y=x*l, mode='lines',
        name=str(round(l*100,1))+'%',text=str(round(l*100,0))+'%',
        marker_color='rgb({},{},{})'.format(gs,gs,gs)
                            )
                 )

# Work in progress

In [ ]:
from scipy.optimize import curve_fit


def func(x, a, b, c):
    return a * np.exp(b * x) + c

def projection(df):
    country_dfs = []
    for c in df['Country'].unique():
        # filter for country
        dfc = df[df['Country']==c]
        
        # create vectors for curve fit
        x = dfc['Day200']
        y = dfc['Cases']
        
        # curve fit (func = exp function)
        popt, pcov = curve_fit(func, x, y, p0=[0,0,0], maxfev=5000)        
        
        # save result
        dff = pd.DataFrame({'Day200':np.arange(x.max(),50,1),'Cases_fit':func(np.arange(x.max(),50,1), *popt)})
        dff['Country']=c  
        # merge result
        dfc = dfc.merge(dff,x)
        print(dfc)
        country_dfs.append(dfc)
    
    # merge all country dfs
    dfc = pd.concat(country_dfs,axis=1)
    return dfc
projection(df200)

In [ ]:
df = projection(df200)

df#[df['Country']=='USA']

In [ ]:
fig = go.Figure()

df = projection(df200)

for c in countries:
    fig.add_trace(go.Scatter(x=df[df['Country']==c]['Day200'],
                             y=df[df['Country']==c]['Cases'],
                             mode='lines+markers',text=c,name=c,))
    #fig.add_trace(go.Scatter(x=df[df['Country']==c]['Day200'],
    #                         y=df[df['Country']==c]['Cases_fit'],
    #                         mode='lines',text=c,name=c,dash='dot'))

fig.update_layout(title="Cases and Prediction over days reset at 200 cases by country",
                  xaxis_title="Days since 200 cases",
                  yaxis_title="Cases", 
                  xaxis_type="log",
                  yaxis_type="log",)
fig.update_yaxes(range=[0.4, 4.2])  

fig.show()

# Testing

In [33]:
df_cases = pd.read_csv('C:/Users/Jason Collis/Documents/Python Scripts/Coronavirus/Data/Stats/Cases.csv')
df_cases = df_cases.set_index('Unnamed: 0')
df_cases.index.names = ['Date']
df_cases['Total'] = df_cases.sum(axis=1)
df_cases

,China,USA,Spain,Italy,France,Germany,UK,Turkey,Iran,Russia,...,Western Sahara,British Virgin Islands,Burundi,Caribbean Netherlands,Sao Tome and Principe,South Sudan,Anguilla,Saint Pierre Miquelon,Yemen,Total
Date,,,,,,,,,,,,,,,,,,,,,
Jan 22,571,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,571
Jan 23,830,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,830
Jan 24,1287,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1287
Jan 25,1975,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1975
Jan 26,2744,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Apr 16,82367,677570,184948,168941,146060,137698,103093,74193,77995,27938,...,6,3,5,3,4,4,3,1,1,2161647
Apr 17,82692,709735,190839,172434,147969,141397,108692,78546,79494,32008,...,6,4,5,3,4,4,3,1,1,2248144
Apr 18,82719,738792,194416,175925,151793,143724,114217,82329,80868,36793,...,6,4,5,3,4,4,3,1,1,2330050
Apr 19,82735,764636,198674,178972,152894,145742,120067,86306,82211,42853,...,6,4,5,5,4,4,3,1,1,2405854
Apr 20,82747,792759,200210,181228,155383,147065,124743,90980,83505,47121,...,6,5,5,5,4,4,3,1,1,2479782

In [45]:
countries = []
for i in df_cases.columns.values:
    countries.append({'label':i,'value':i})

[{'label': 'China', 'value': 'China'},
 {'label': 'USA', 'value': 'USA'},
 {'label': 'Spain', 'value': 'Spain'},
 {'label': 'Italy', 'value': 'Italy'},
 {'label': 'France', 'value': 'France'},
 {'label': 'Germany', 'value': 'Germany'},
 {'label': 'UK', 'value': 'UK'},
 {'label': 'Turkey', 'value': 'Turkey'},
 {'label': 'Iran', 'value': 'Iran'},
 {'label': 'Russia', 'value': 'Russia'},
 {'label': 'Belgium', 'value': 'Belgium'},
 {'label': 'Brazil', 'value': 'Brazil'},
 {'label': 'Canada', 'value': 'Canada'},
 {'label': 'Netherlands', 'value': 'Netherlands'},
 {'label': 'Switzerland', 'value': 'Switzerland'},
 {'label': 'Portugal', 'value': 'Portugal'},
 {'label': 'India', 'value': 'India'},
 {'label': 'Peru', 'value': 'Peru'},
 {'label': 'Ireland', 'value': 'Ireland'},
 {'label': 'Sweden', 'value': 'Sweden'},
 {'label': 'Austria', 'value': 'Austria'},
 {'label': 'Israel', 'value': 'Israel'},
 {'label': 'Saudi Arabia', 'value': 'Saudi Arabia'},
 {'label': 'Japan', 'value': 'Japan'},
 {'label': 'Chile', 'value': 'Chile'},
 {'label': 'S. Korea', 'value': 'S. Korea'},
 {'label': 'Ecuador', 'value': 'Ecuador'},
 {'label': 'Poland', 'value': 'Poland'},
 {'label': 'Pakistan', 'value': 'Pakistan'},
 {'label': 'Romania', 'value': 'Romania'},
 {'label': 'Singapore', 'value': 'Singapore'},
 {'label': 'Mexico', 'value': 'Mexico'},
 {'label': 'UAE', 'value': 'UAE'},
 {'label': 'Denmark', 'value': 'Denmark'},
 {'label': 'Norway', 'value': 'Norway'},
 {'label': 'Indonesia', 'value': 'Indonesia'},
 {'label': 'Czechia', 'value': 'Czechia'},
 {'label': 'Serbia', 'value': 'Serbia'},
 {'label': 'Belarus', 'value': 'Belarus'},
 {'label': 'Australia', 'value': 'Australia'},
 {'label': 'Philippines', 'value': 'Philippines'},
 {'label': 'Qatar', 'value': 'Qatar'},
 {'label': 'Ukraine', 'value': 'Ukraine'},
 {'label': 'Malaysia', 'value': 'Malaysia'},
 {'label': 'Dominican Republic', 'value': 'Dominican Republic'},
 {'label': 'Panama', 'value': 'Panama'},
 {'label': 'Finland', 'value': 'Finland'},
 {'label': 'Colombia', 'value': 'Colombia'},
 {'label': 'Luxembourg', 'value': 'Luxembourg'},
 {'label': 'South Africa', 'value': 'South Africa'},
 {'label': 'Bangladesh', 'value': 'Bangladesh'},
 {'label': 'Egypt', 'value': 'Egypt'},
 {'label': 'Morocco', 'value': 'Morocco'},
 {'label': 'Argentina', 'value': 'Argentina'},
 {'label': 'Algeria', 'value': 'Algeria'},
 {'label': 'Thailand', 'value': 'Thailand'},
 {'label': 'Moldova', 'value': 'Moldova'},
 {'label': 'Greece', 'value': 'Greece'},
 {'label': 'Hungary', 'value': 'Hungary'},
 {'label': 'Kuwait', 'value': 'Kuwait'},
 {'label': 'Kazakhstan', 'value': 'Kazakhstan'},
 {'label': 'Bahrain', 'value': 'Bahrain'},
 {'label': 'Croatia', 'value': 'Croatia'},
 {'label': 'Iceland', 'value': 'Iceland'},
 {'label': 'Uzbekistan', 'value': 'Uzbekistan'},
 {'label': 'Iraq', 'value': 'Iraq'},
 {'label': 'Estonia', 'value': 'Estonia'},
 {'label': 'Oman', 'value': 'Oman'},
 {'label': 'Azerbaijan', 'value': 'Azerbaijan'},
 {'label': 'New Zealand', 'value': 'New Zealand'},
 {'label': 'Armenia', 'value': 'Armenia'},
 {'label': 'Lithuania', 'value': 'Lithuania'},
 {'label': 'Slovenia', 'value': 'Slovenia'},
 {'label': 'Bosnia and Herzegovina', 'value': 'Bosnia and Herzegovina'},
 {'label': 'North Macedonia', 'value': 'North Macedonia'},
 {'label': 'Slovakia', 'value': 'Slovakia'},
 {'label': 'Cameroon', 'value': 'Cameroon'},
 {'label': 'Cuba', 'value': 'Cuba'},
 {'label': 'Afghanistan', 'value': 'Afghanistan'},
 {'label': 'Ghana', 'value': 'Ghana'},
 {'label': 'Hong Kong', 'value': 'Hong Kong'},
 {'label': 'Bulgaria', 'value': 'Bulgaria'},
 {'label': 'Djibouti', 'value': 'Djibouti'},
 {'label': 'Tunisia', 'value': 'Tunisia'},
 {'label': 'Ivory Coast', 'value': 'Ivory Coast'},
 {'label': 'Cyprus', 'value': 'Cyprus'},
 {'label': 'Latvia', 'value': 'Latvia'},
 {'label': 'Andorra', 'value': 'Andorra'},
 {'label': 'Guinea', 'value': 'Guinea'},
 {'label': 'Lebanon', 'value': 'Lebanon'},
 {'label': 'Nigeria', 'value': 'Nigeria'},
 {'label': 'Costa Rica', 'value': 'Costa Rica'},
 {'label': 'Niger', 'value': 'Niger'},
 {'label': 'Albania', 'value': 'Albania'},
 {'label': 'Bolivia', 'value': 'Bolivia'},
 {'label': 'Kyrgyzstan', 'value': 'Kyrgyzstan'},
 {'label': 'Burkina Faso', 'value': 'Burkina Faso'},
 {'label': 'Uruguay', 'value': 'Uruguay'},
 {'label': 'Honduras', 'value': 'Honduras'},
 {'label': 'Channel Islands', 'value': 'Channel Islands'},
 {'label': 'San Marino', 'value': 'San Marino'},
 {'label': 'Palestine', 'value': 'Palestine'},
 {'label': 'Malta', 'value': 'Malta'},
 {'label': 'Jordan', 'value': 'Jordan'},
 {'label': 'Taiwan', 'value': 'Taiwan'},
 {'label': 'Senegal', 'value': 'Senegal'},
 {'label': 'Réunion', 'value': 'Réunion'},
 {'label': 'Georgia', 'value': 'Georgia'},
 {'label': 'DRC', 'value': 'DRC'},
 {'label': 'Mauritius', 'value': 'Mauritius'},
 {'label': 'Montenegro', 'value': 'Montenegro'},
 {'label': 'Sri Lanka', 'value': 'Sri Lanka'},
 {'label': 'Isle of Man', 'value': 'Isle of Man'},
 {'label': 'Kenya', 'value': 'Kenya'},
 {'label': 'Guatemala', 'value': 'Guatemala'},
 {'label': 'Venezuela', 'value': 'Venezuela'},
 {'label': 'Mayotte', 'value': 'Mayotte'},
 {'label': 'Vietnam', 'value': 'Vietnam'},
 {'label': 'Mali', 'value': 'Mali'},
 {'label': 'Tanzania', 'value': 'Tanzania'},
 {'label': 'Somalia', 'value': 'Somalia'},
 {'label': 'El Salvador', 'value': 'El Salvador'},
 {'label': 'Jamaica', 'value': 'Jamaica'},
 {'label': 'Paraguay', 'value': 'Paraguay'},
 {'label': 'Faeroe Islands', 'value': 'Faeroe Islands'},
 {'label': 'Martinique', 'value': 'Martinique'},
 {'label': 'Congo', 'value': 'Congo'},
 {'label': 'Guadeloupe', 'value': 'Guadeloupe'},
 {'label': 'Rwanda', 'value': 'Rwanda'},
 {'label': 'Brunei ', 'value': 'Brunei '},
 {'label': 'Gibraltar', 'value': 'Gibraltar'},
 {'label': 'Cambodia', 'value': 'Cambodia'},
 {'label': 'Myanmar', 'value': 'Myanmar'},
 {'label': 'Madagascar', 'value': 'Madagascar'},
 {'label': 'Gabon', 'value': 'Gabon'},
 {'label': 'Trinidad and Tobago', 'value': 'Trinidad and Tobago'},
 {'label': 'Ethiopia', 'value': 'Ethiopia'},
 {'label': 'Sudan', 'value': 'Sudan'},
 {'label': 'Liberia', 'value': 'Liberia'},
 {'label': 'Aruba', 'value': 'Aruba'},
 {'label': 'French Guiana', 'value': 'French Guiana'},
 {'label': 'Monaco', 'value': 'Monaco'},
 {'label': 'Bermuda', 'value': 'Bermuda'},
 {'label': 'Togo', 'value': 'Togo'},
 {'label': 'Maldives', 'value': 'Maldives'},
 {'label': 'Liechtenstein', 'value': 'Liechtenstein'},
 {'label': 'Equatorial Guinea', 'value': 'Equatorial Guinea'},
 {'label': 'Barbados', 'value': 'Barbados'},
 {'label': 'Zambia', 'value': 'Zambia'},
 {'label': 'Sint Maarten', 'value': 'Sint Maarten'},
 {'label': 'Cabo Verde', 'value': 'Cabo Verde'},
 {'label': 'Guyana', 'value': 'Guyana'},
 {'label': 'Cayman Islands', 'value': 'Cayman Islands'},
 {'label': 'Bahamas', 'value': 'Bahamas'},
 {'label': 'Uganda', 'value': 'Uganda'},
 {'label': 'Haiti', 'value': 'Haiti'},
 {'label': 'French Polynesia', 'value': 'French Polynesia'},
 {'label': 'Benin', 'value': 'Benin'},
 {'label': 'Libya', 'value': 'Libya'},
 {'label': 'Guinea-Bissau', 'value': 'Guinea-Bissau'},
 {'label': 'Sierra Leone', 'value': 'Sierra Leone'},
 {'label': 'Macao', 'value': 'Macao'},
 {'label': 'Nepal', 'value': 'Nepal'},
 {'label': 'Syria', 'value': 'Syria'},
 {'label': 'Eritrea', 'value': 'Eritrea'},
 {'label': 'Mozambique', 'value': 'Mozambique'},
 {'label': 'Saint Martin', 'value': 'Saint Martin'},
 {'label': 'Mongolia', 'value': 'Mongolia'},
 {'label': 'Chad', 'value': 'Chad'},
 {'label': 'Zimbabwe', 'value': 'Zimbabwe'},
 {'label': 'Angola', 'value': 'Angola'},
 {'label': 'Eswatini', 'value': 'Eswatini'},
 {'label': 'Antigua and Barbuda', 'value': 'Antigua and Barbuda'},
 {'label': 'Timor-Leste', 'value': 'Timor-Leste'},
 {'label': 'Botswana', 'value': 'Botswana'},
 {'label': 'Laos', 'value': 'Laos'},
 {'label': 'Belize', 'value': 'Belize'},
 {'label': 'Malawi', 'value': 'Malawi'},
 {'label': 'Fiji', 'value': 'Fiji'},
 {'label': 'New Caledonia', 'value': 'New Caledonia'},
 {'label': 'Dominica', 'value': 'Dominica'},
 {'label': 'Namibia', 'value': 'Namibia'},
 {'label': 'Saint Kitts and Nevis', 'value': 'Saint Kitts and Nevis'},
 {'label': 'Saint Lucia', 'value': 'Saint Lucia'},
 {'label': 'Curaçao', 'value': 'Curaçao'},
 {'label': 'CAR', 'value': 'CAR'},
 {'label': 'Grenada', 'value': 'Grenada'},
 {'label': 'St. Vincent Grenadines', 'value': 'St. Vincent Grenadines'},
 {'label': 'Turks and Caicos', 'value': 'Turks and Caicos'},
 {'label': 'Falkland Islands', 'value': 'Falkland Islands'},
 {'label': 'Greenland', 'value': 'Greenland'},
 {'label': 'Montserrat', 'value': 'Montserrat'},
 {'label': 'Seychelles', 'value': 'Seychelles'},
 {'label': 'Nicaragua', 'value': 'Nicaragua'},
 {'label': 'Gambia', 'value': 'Gambia'},
 {'label': 'Suriname', 'value': 'Suriname'},
 {'label': 'Vatican City', 'value': 'Vatican City'},
 {'label': 'Mauritania', 'value': 'Mauritania'},
 {'label': 'Papua New Guinea', 'value': 'Papua New Guinea'},
 {'label': 'Bhutan', 'value': 'Bhutan'},
 {'label': 'St. Barth', 'value': 'St. Barth'},
 {'label': 'Western Sahara', 'value': 'Western Sahara'},
 {'label': 'British Virgin Islands', 'value': 'British Virgin Islands'},
 {'label': 'Burundi', 'value': 'Burundi'},
 {'label': 'Caribbean Netherlands', 'value': 'Caribbean Netherlands'},
 {'label': 'Sao Tome and Principe', 'value': 'Sao Tome and Principe'},
 {'label': 'South Sudan', 'value': 'South Sudan'},
 {'label': 'Anguilla', 'value': 'Anguilla'},
 {'label': 'Saint Pierre Miquelon', 'value': 'Saint Pierre Miquelon'},
 {'label': 'Yemen', 'value': 'Yemen'},
 {'label': 'Total', 'value': 'Total'}]

In [50]:
country = 'Total'
y = df_cases.loc[:,country]
y

Date
Jan 22        571
Jan 23        830
Jan 24       1287
Jan 25       1975
Jan 26       2744
           ...
Apr 16    2161647
Apr 17    2248144
Apr 18    2330050
Apr 19    2405854
Apr 20    2479782
Name: Total, Length: 90, dtype: int64